
.vs/CursoCSharp/DesignTimeBuild/.dtbcache.v2
.vs/CursoCSharp/v16/.suo
CursoCSharp/bin/Debug/netcoreapp3.1/CursoCSharp.dll
CursoCSharp/bin/Debug/netcoreapp3.1/CursoCSharp.exe
CursoCSharp/bin/Debug/netcoreapp3.1/CursoCSharp.pdb
CursoCSharp/obj/CursoCSharp.csproj.nuget.dgspec.json
CursoCSharp/obj/Debug/netcoreapp3.1/apphost.exe
CursoCSharp/obj/Debug/netcoreapp3.1/CursoCSharp.csproj.AssemblyReference.cache
CursoCSharp/obj/Debug/netcoreapp3.1/CursoCSharp.csproj.CoreCompileInputs.cache
CursoCSharp/obj/Debug/netcoreapp3.1/CursoCSharp.dll
CursoCSharp/obj/Debug/netcoreapp3.1/CursoCSharp.pdb
CursoCSharp/obj/project.assets.json
CursoCSharp/obj/project.nuget.cache
CursoCSharp/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
CursoCSharp/obj/Release/netcoreapp3.1/CursoCSharp.AssemblyInfo.cs
CursoCSharp/obj/Release/netcoreapp3.1/CursoCSharp.AssemblyInfoInputs.cache
CursoCSharp/obj/Release/netcoreapp3.1/CursoCSharp.assets.cache
CursoCSharp/obj/Release/netcoreapp3.1/CursoCSharp.csproj.AssemblyReference.cache
